@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #191F28;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard), sans-serif;
  
  /* Mobile App Layout Settings */
  max-width: 390px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
